body {

    background-image:url(https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940=2&h=650&w=940);
}
main {
    font-family: 'Girassol', cursive;
}
nav {
    
    margin-top: 60px;
    font-size: 20px;
    margin: left 5px;
    color: #515A5A ;
}

h1 {
    color: #515A5A;
    font-family: 'Girassol', cursive;
    margin-top: 20px;
    font-size: xx-large;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: #515A5A;
    margin: 20px;
    
}
h2{
    margin-top: 70px;
    color:#515A5A ;
    text-align: center;
    font-size: 20px;
}
h3{
    text-align: center;
    color: #515A5A;
    
}

footer {
    margin-top: 130px;
color: #515A5A ;

}